@media screen and (min-width: 320px){
tr{
    display: block;
    font-size: 13px;
}
    td{
        font-size: 100%;
    }
    .center{
        margin: 15px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .flex{
        display: flex;
    }
    .hiden{
display: none    }
}
